@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 250, 251;
  --background-end-rgb: 244, 245, 247;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 10, 15, 24;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

/* PWA için dokunma efekti iyileştirmeleri */
a, button {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

input, textarea, select, button {
  font-size: 16px; /* iOS zooming sorununu engeller */
} 